<div id="mobile-controls">
  <!-- player 1 controls -->
  <button
    id="fire1"
    (pointerdown)="press('w')"
    (pointerup)="release('w')"
  ></button>
  <button
    id="left1"
    (pointerdown)="press('a')"
    (pointerup)="release('a')"
  ></button>
  <button
    id="thrust1"
    (pointerdown)="press('s')"
    (pointerup)="release('s')"
  ></button>
  <button
    id="right1"
    (pointerdown)="press('d')"
    (pointerup)="release('d')"
  ></button>

  <!-- player 2 controls -->
  <button
    id="fire2"
    (pointerdown)="press('i')"
    (pointerup)="release('i')"
  ></button>
  <button
    id="left2"
    (pointerdown)="press('j')"
    (pointerup)="release('j')"
  ></button>
  <button
    id="thrust2"
    (pointerdown)="press('k')"
    (pointerup)="release('k')"
  ></button>
  <button
    id="right2"
    (pointerdown)="press('l')"
    (pointerup)="release('l')"
  ></button>
</div>
