<div id="mobile-controls">
  <!-- player 1 controls -->
  <button id="fire1" (touchstart)="press('w')" (touchend)="release('w')">
    🔫
  </button>
  <button id="left1" (touchstart)="press('a')" (touchend)="release('a')">
    ↻
  </button>
  <button id="thrust1" (touchstart)="press('s')" (touchend)="release('s')">
    🔥
  </button>
  <button id="right1" (touchstart)="press('d')" (touchend)="release('d')">
    ↺
  </button>

  <!-- player 2 controls -->
  <button id="fire2" (touchstart)="press('i')" (touchend)="release('i')">
    🔫
  </button>
  <button id="left2" (touchstart)="press('j')" (touchend)="release('j')">
    ↻
  </button>
  <button id="thrust2" (touchstart)="press('k')" (touchend)="release('k')">
    🔥
  </button>
  <button id="right2" (touchstart)="press('l')" (touchend)="release('l')">
    ↺
  </button>
</div>
