<div
  id="sidebar"
  [ngClass]="expand ? 'show' : 'hide'"
  (mouseenter)="unhideConsole()"
  (mouseleave)="hideConsole()"
>
  <div id="header">
    <img id="logo" src="assets/images/logo.svg" alt="Logo" />
    <div id="button-container">
      <app-icon-button
        *ngFor="let button of buttons"
        [icon]="button.icon"
        [link]="button.link"
        [color]="button.color"
      >
      </app-icon-button>
    </div>
  </div>
  <app-console></app-console>
  <div id="tab">
    <img
      id="arrow"
      [ngClass]="expand ? 'rotate-arrow' : ''"
      src="{{ arrowImage() }}"
      alt="Arrow"
    />
  </div>
  <app-tape-list></app-tape-list>
  <app-load-save></app-load-save>
</div>
