#sidebar {
  position: fixed;
  z-index: 2;
  background: #333333;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
  display: grid;
  padding: 2em;
  gap: 2em;

  @media screen and (min-width: 768px) {
    width: 60%;
    height: 100%;
    grid-template-columns: calc(60% - 1em) calc(40% - 1em);
    grid-template-rows: 4em calc(100% - 24em) 16em;
    grid-template-areas:
      'header header'
      'console console'
      'tape-list load-save';
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 50%;
    grid-template-columns: 100%;
    grid-template-rows: 3em 1em calc(100% - 8em);
    grid-template-areas:
      'header'
      'buttons'
      'tape-list';
  }
}

#tab {
  position: absolute;
  background: #333333;

  @media screen and (min-width: 768px) {
    right: -2em;
    width: 2em;
    height: 8em;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 1em 1em 0;
  }

  @media screen and (max-width: 768px) {
    width: 8em;
    height: 2em;
    bottom: -2em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1em 1em;
  }
}

#header {
  grid-area: header;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

#button-container {
  float: right;
  height: 100%;

  @media screen and (max-width: 768px) {
    position: absolute;
    height: 3em;
    width: calc(100% - 4em);
    top: 6em;
  }
}

#logo {
  height: 100%;

  @media screen and (max-width: 768px) {
    margin: auto;
  }
}

.show {
  @media screen and (min-width: 768px) {
    left: 0;
  }
  @media screen and (max-width: 768px) {
    top: 0;
  }
}

.hide {
  @media screen and (min-width: 768px) {
    left: calc(-60% + 1em);
  }
  @media screen and (max-width: 768px) {
    top: calc(-50% + 1em);
  }
}

#arrow {
  position: absolute;
  height: 2em;
  transition: 0.5s;

  @media screen and (min-width: 768px) {
    top: 50%;
    transform: translateY(-50%) translateX(0.5em);
  }

  @media screen and (max-width: 768px) {
    left: 50%;
    transform: translateX(-50%);
    width: 2em;
  }
}

.rotate-arrow {
  @media screen and (min-width: 768px) {
    transform: scaleX(-1) translateY(-50%) translateX(-0.5em) !important;
  }

  @media screen and (max-width: 768px) {
    transform: scaleY(-1) translateX(-50%) !important;
  }
}

app-console {
  grid-area: console;
}

app-tape-list {
  grid-area: tape-list;
}
